In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
plt.style.use('seaborn-white')
for param in ['figure.facecolor', 'axes.facecolor', 'savefig.facecolor']:
    plt.rcParams[param] = '#212946'  # bluish dark grey
for param in ['text.color', 'axes.labelcolor', 'xtick.color', 'ytick.color']:
    plt.rcParams[param] = '0.9'  # very light grey
plt.rcParams.update({"axes.grid": True,"grid.color": "#2A3459"})

C:\Users\zijia\AppData\Local\Temp\ipykernel_30192\1813089224.py:6: MatplotlibDeprecationWarning: The seaborn styles shipped by Matplotlib are deprecated since 3.6, as they no longer correspond to the styles shipped by seaborn. However, they will remain available as 'seaborn-v0_8-<style>'. Alternatively, directly use the seaborn API instead.
  plt.style.use('seaborn-white')

In [2]:
df = pd.read_csv(r'C:\Users\zijia\Desktop\AAPL_stock.csv')
print(df)

             Date        Open        High         Low       Close   Adj Close  \
0      1980-12-12    0.128348    0.128906    0.128348    0.128348    0.100178
1      1980-12-15    0.122210    0.122210    0.121652    0.121652    0.094952
2      1980-12-16    0.113281    0.113281    0.112723    0.112723    0.087983
3      1980-12-17    0.115513    0.116071    0.115513    0.115513    0.090160
4      1980-12-18    0.118862    0.119420    0.118862    0.118862    0.092774
...           ...         ...         ...         ...         ...         ...
10438  2022-05-06  156.009995  159.440002  154.179993  157.279999  157.279999
10439  2022-05-09  154.929993  155.830002  151.490005  152.059998  152.059998
10440  2022-05-10  155.520004  156.740005  152.929993  154.509995  154.509995
10441  2022-05-11  153.500000  155.449997  145.809998  146.500000  146.500000
10442  2022-05-12  142.770004  146.199997  138.800003  142.559998  142.559998

          Volume
0      469033600
1      175884800
2      105728000
3       86441600
4       73449600
...          ...
10438  116055700
10439  131577900
10440  115366700
10441  142689800
10442  182271000

[10443 rows x 7 columns]

In [3]:
df.describe()

,Open,High,Low,Close,Adj Close,Volume
count,10443.000000,10443.000000,10443.000000,10443.000000,10443.000000,1.044300e+04
mean,14.453559,14.611925,14.294785,14.458603,13.823986,3.314118e+08
std,31.337795,31.699692,30.979093,31.351249,31.046629,3.390498e+08
min,0.049665,0.049665,0.049107,0.049107,0.038329,0.000000e+00
25%,0.283482,0.289063,0.275893,0.282891,0.235214,1.241298e+08
50%,0.472321,0.481429,0.464286,0.473214,0.389186,2.188788e+08
75%,14.445892,14.601071,14.297321,14.463393,12.409363,4.116770e+08
max,182.630005,182.940002,179.119995,182.009995,181.511703,7.421641e+09

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10443 entries, 0 to 10442
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       10443 non-null  object
 1   Open       10443 non-null  float64
 2   High       10443 non-null  float64
 3   Low        10443 non-null  float64
 4   Close      10443 non-null  float64
 5   Adj Close  10443 non-null  float64
 6   Volume     10443 non-null  int64
dtypes: float64(5), int64(1), object(1)
memory usage: 571.2+ KB

In [5]:
df['Date'] = pd.to_datetime(df['Date'])
df = df.set_index('Date')

In [6]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

# Prepare the data
X = df.drop('Close', axis=1)  # Replace 'Target_Variable' with the actual name of the column you want to predict
y = df['Close']  # Replace 'Target_Variable' with the actual name of the column you want to predict

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Create and train the Random Forest regression model
model = RandomForestRegressor(n_estimators=100, random_state=42)
model.fit(X_train, y_train)

# Make predictions on the testing set
y_pred = model.predict(X_test)

# Calculate the R^2 score
r2 = r2_score(y_test, y_pred)
print("R^2 Score:", r2)
print('Train rmse:', np.sqrt(mean_squared_error(y_test, y_pred)))

R^2 Score: 0.9999782023302046
Train rmse: 0.1530851001881629